@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Windy City University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Windy City University</h2>
        <p>
            Windy City University a simple applicatoin where you can upload course and student data then view reports using that data.
        </p>
    </div>
</div>